

.header-title{
    position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
color: #151414;
}
.paragraph-header{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: right;
color: #444343;
margin-top: 24px;
}
button{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    text-align: center;
    color:#FFFFFF;
    background-color:#F15B22;
    text-decoration: none;
    display: inline-block;
    border: none;

}

header{
    background-image: url('../images/banner/banner1.png');
    position: absolute;
    background-size: cover;
width: 1600px;
height: 808px;
margin-bottom: 80px;
}
.image{
    
position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
}
.failure{
    position: absolute;
width: 416px;
height: 400px;
left: 862px;
top: 1178px;
display: inline-block;
}
