*{
    margin: 0;
    padding: 0;
}
.first{
    background-image:url('../images/banner/banner1.png');
    background-size: cover;
    width: 100%;
    height: 800px;
    margin-bottom: 131px;
    
}
.first-part{
    text-align: right;
    margin-right: 205px;
    
}
.contact{
    background-color: tomato;
    color: white;
    border: 0;
    text-decoration: none;
}
.all-thinks{
    font-size: 40px;
    
}
.second-part{
    float: right;
    display: inline-block;
    margin-right: 200px;
    width: 416px;
    }
.image{
    width: 300px;
    height: 350px;
    margin-left: 220px;

}
.my-plans{
    display: flex;
    width: 100%;
    margin-left: 230px;
    margin-right: 230px;
    padding: 10px;
}
.picture-with-paragraph{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.alo{
    width: 25%;
    padding: 5px;
}
